$color-primary: #000000;
$color-primary-light: #19191998;
$color-primary-dark: #000000b2;

$color-blue: #114488;
$color-skyblue: #85DFE8;
$color-red: #e60000;
$color-light-red: #ff3554;
$color-light-yellow: #B2B4CC;

$color-violet: #A577E1;
$color-pink: #FFB6C1;
$color-dark-violet: #E070FF;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-dark-pearl: #0B1015;

$default-font-size: 1.6rem;